@import '../../scss/vars.scss';
.menu{
    @extend .side_menu;
    z-index: 1000;
    overflow-y: auto;
}
.title{
    display: flex;
    margin: 0px auto -10px;
    width: fit-content;
    font-size: 56px;
    font-weight: 900;
}
.filters__title{
    margin-top: 20px;
    font-size: 28px;
    text-transform: uppercase;
    color: grey;
}

.close{
    @extend .cross;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 25px;
}
.colors{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    row-gap: 10px;
}


@media (max-width: 600px) {
    .menu{
        width: 100%;
    }
    .colors{
        grid-template-columns:  repeat(3, 1fr);
    }
}

