@import '../../scss/vars.scss';
.wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 0 50px 0 100px;
    position: relative;
    min-height:10vh;
}
.photos{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.modal{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.details{
    box-sizing: border-box;
    position: fixed;
    max-height: 95vh;
    overflow-y: auto;
    right: 0;
    width: 50%;
    padding: 50px;
    font-size: 32px;
    transition: 0.5s;
    &__title{
        font-size: 56px;
        display: flex;
    }
    &__otherColors{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__description{
        margin-top: 20px;
    }

    &::-webkit-scrollbar {
        width: 0px;
      }
}

.colors__photo{
    box-sizing: border-box;
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.05);
    }
}
.addToCart{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    color: #e2e2e2;
    background-color: #1e3584;
    outline: none;
    border: none;
    text-transform: uppercase;
    &:hover{
        color:#000;
        background-color: $secondary-color
    }
}

.bigUp{
    transform: translateY(-100px);
}
.smallUp{
    transform: translateY(-50px);
}

@media (max-width: 1300px) {
    .details__otherColors{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 990px) {

    .wrapper{
        flex-direction: column;
        padding: 0;
    }
    .photos{
        display: flex;
        width: 100%;
    }
    .photo{
        width: 10px !important;
    }
    .details{
        position: static;
        padding: 0;
        width: 100%;
        max-height: fit-content;
    }
    .bigUp{
        transform: translateY(0px);
    }
    .smallUp{
        transform: translateY(0px);
    }
}
@media (max-width: 500px) {
    .details__otherColors{
       display: flex;
       flex-wrap: wrap;
    }
}