@import 'normalize.css';
@import './vars.scss';
body{
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
ul{
    list-style: none;
}

a{
    display: inline-block;
 text-decoration: none;
 color: #000;
 transition: 0.4s;
//  &:hover{
    // color:$secondary-color;
}


img{
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000;
  }