@import '../../scss/vars.scss';
.size{
    display: inline-block;
    flex-wrap: wrap;
    margin: 5px;
    font-size: 18px;
    border: 1px lightgray solid;
    cursor: pointer;
    padding: 8px;
    // transition: 0.05s;
    &:hover{
        color:$secondary-color;
        text-decoration: wavy;
    }
    &__active{
        color:#fff;
        background-color: #000;
    }
    &:active{
        transform: scale(0.9);
    }
}
.crossedOut{
    text-decoration: line-through !important;
}