@import '../../scss/vars.scss';
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-top: 1px rgba($color: gray, $alpha: 0.2) solid;
    border-bottom: 1px rgba($color: gray, $alpha: 0.2) solid;
}
.filter{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background-color: $secondary-color;
        color: black;
    }
}
.icon{
    font-size: 16px;
}
.sort{
    margin-left: 20px;
    border: gray 2px solid;
    padding: 10px;
}

