@import '../../scss/vars.scss';
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-top: 1px rgba($color: gray, $alpha: 0.2) solid;
    border-bottom: 1px rgba($color: gray, $alpha: 0.2) solid;
    font-size: 30px;
    select{
        outline: none;
    }
}
.filter{
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    background-color: black;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background-color: $secondary-color;
        color: black;
    }
}
.icon{
    font-size: 26px;
}
.sort{
    margin-left: 20px;
    border: gray 2px solid;
    padding: 10px;
}
.input{
    padding: 10px;
    margin-left: 20px;
}

@media (max-width: 2000px) {
    .filter{
        font-size: 20px;
    }
    .icon{
        font-size: 16px;
    }
    .wrapper{
        font-size: 16px;
    }
}
@media (max-width: 450px) {
    .num{
        display: none;
    }
}
        
